<h1> <%= @blogger.name%> </h1>
<p> Age: <%= @blogger.age%> </p>
<p> Bio: </p>
<p> <%= @blogger.bio%> </p>

<p> Total likes: <%= @blogger.total_likes%> </p>

<p> Featured post: <%= link_to @blogger.featured_post.title, post_path(@blogger.featured_post)%> </p>

