<h1> <%= @post.title%> </h1>

<p> <%= @post.content%> </p>

<!-- A link to the page of that post's author -->
 <p> 
 <label> Written by: </label> 
  <%= link_to @post.blogger.name, blogger_path(@post.blogger_id) %> 
  </p>

<!-- A link to the page of that post's destination -->
  <p> 
  <label> About: </label> 
 <%= @post.destination.name %> 
 </p>


<%# <%= link_to  :destination_name,destination_path(@post.destination) %> 